<!DOCTYPE html>

<html lang="en">


	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="Swift Property Auctions"/>
        <meta name="description" content="With over 60 years of combined experience, Swift Property Auctions offers professional guidance for buying and selling residential and commercial properties through expertly managed auctions."/>
        <meta name="keywords" content="Property Auction, Residential Auction, Commercial Auction, Real Estate, Swift Property Auction, Expert Auction Advice, Property Visibility, Rightmove, Zoopla, Eigroup, Property Support, 24/7 Assistance, Property Investment, Sell Property, Buy Property"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title>Complaints Procedure</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="{{ versioned_url('static/images/favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ versioned_url('static/images/favicon.ico') }}" type="image/x-icon">

		<!-- Swiper (CDN) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

		<!-- GOOGLE FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="{{ versioned_url('static/css/bootstrap.min.css') }}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{{ versioned_url('static/css/flaticon.css') }}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{{ versioned_url('static/css/menu.css') }}" rel="stylesheet">   
		<link id="effect" href="{{ versioned_url('static/css/dropdown-effects/fade-down.css') }}" media="all" rel="stylesheet">
		<link href="{{ versioned_url('static/css/magnific-popup.css') }}" rel="stylesheet">   
		<link href="{{ versioned_url('static/css/owl.carousel.min.css') }}" rel="stylesheet">
		<link href="{{ versioned_url('static/css/owl.theme.default.min.css') }}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{{ versioned_url('static/css/animate.css') }}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{{ versioned_url('static/css/style.css') }}" rel="stylesheet"> 

		<!-- RESPONSIVE CSS -->
		<link href="{{ versioned_url('static/css/responsive.css') }}" rel="stylesheet">

	</head>



	<body>

		<!-- PRELOADER SPINNER
		============================================= -->	
		<!-- PRELOADER SPINNER -->
			<div id="loading" class="preloader">
				<div id="loading-center">
					<div id="loading-center-absolute">
						<img src="static/images/newlogodblue.svg" alt="Company Logo" id="preloader-logo">
					</div>
				</div>
			</div>

		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">


			<!-- HEADER
			============================================= -->
			<header id="header" class="header tra-menu navbar-light nofixedmenu">
				<div class="header-wrapper">

					<!-- MOBILE HEADER -->
					<div class="wsmobileheader clearfix">
					<a href="{{ url_for('home') }}" class="smllogo">
						<img src="/static/images/newlogo.svg" alt="Homepage" />
					</a>
					<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
					</div>

					<!-- GLASS NAV BAR -->
					<div class="wsmainfull menu auction-info-glass nofixedmenu">
					<div class="wsmainwp clearfix">

						<!-- LOGO LEFT -->
						<div class="desktoplogo">
						<a href="{{ url_for('home') }}" class="logo-white">
							<img src="/static/images/newlogo.svg" alt="header-logo">
						</a>
						</div>
						<div class="desktoplogo">
						<a href="{{ url_for('home') }}" class="logo-black">
							<img src="/static/images/newlogo.svg" alt="header-logo">
						</a>
						</div>

						<!-- DATETIME (separate block, not inside <ul>) -->
						<div class="header-datetime">
						<span id="live-datetime"></span>
						</div>

						<!-- MAIN MENU -->
						<nav class="wsmenu clearfix text-center">
						<ul class="wsmenu-list nav-red-hover">

							<li class="nl-simple" aria-haspopup="true"><a href="{{ url_for('home') }}">Home</a></li>
							<li class="nl-simple" aria-haspopup="true"><a href="{{ url_for('about') }}">About</a></li>
							<li class="nl-simple" aria-haspopup="true"><a href="{{ url_for('future_auctions_dates') }}">Auctions</a></li>
							<li class="nl-simple" aria-haspopup="true"><a href="{{ url_for('current_lots') }}">Current Lots</a></li>
							<li class="nl-simple" aria-haspopup="true"><a href="{{ url_for('valuation') }}">Auction Valuation</a></li>
							</li>

							<!-- Contact button hard right -->
							<li class="nl-simple nav-contact" aria-haspopup="true">
							<a href="{{ url_for('contact') }}" class="btn contact-svg-btn" aria-label="Contact Us">
								<img src="{{ url_for('static', filename='images/contact-default.svg') }}"
									alt="Contact Us" class="contact-img default">
								<img src="{{ url_for('static', filename='images/contact-hover.svg') }}"
									alt="Contact Us" class="contact-img hover">
							</a>
							</li>

						</ul>
						</nav>

					</div>
					</div>

				</div>
			</header>
			<!-- END HEADER -->

            <!-- HERO-14
			============================================= -->	
			<section id="hero-7" class="bg-fixed pb-60 hero-section division">
				<div class="container">	
					<div class="row d-flex align-items-center justify-content-center text-center">


						<!-- HERO TEXT -->
						<div class="col-sm-10 col-md-9 col-lg-9">
							<div class="hero-14-txt white-color wow fadeInRight">

							</div>
						</div>	<!-- END HERO TEXT -->	


					</div>    <!-- End row --> 	
				</div>	   <!-- End container --> 	
			</section>	<!-- END HERO-14 -->


           <!-- TERMS & PRIVACY
			============================================= -->
			<section id="terms-page" class="bg-snow wide-70 terms-section division">
				<div class="container">


					<!-- TERMS CONTENT -->
					<div class="row justify-content-center">	
						<div class="col-lg-10">


							<!-- TERMS TITLE -->
							<div class="terms-title text-center">

								<!-- Title -->
								<h2 class="h2-title-md">Complaint Procedure</h2>

								<!-- Text -->
								<p class="p-lg grey-color"></p>

							</div>


							<!-- DIVIDER LINE -->
							<hr class="divider">

							
							<!-- TERMS BOX -->
							<div class="terms-box mt-60">

								<!-- Text -->
								<p class="p-lg">We are committed to providing a professional service to all our clients and customers. We understand that things can go wrong sometimes, and we want to make sure that you are able to raise any concerns you have with us so that we can learn from them and improve our services.
								</p>

							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-xl">How to make a complaint?</h5>
								
								<!-- Text -->
								<p class="p-lg">If you have a complaint, please put it in writing to us as soon as possible. Your complaint should include as much detail as possible, such as what happened, when it happened, and who you were dealing with. You can send your complaint to us by post or email
								</p>

							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-xl">Our response</h5>
								
								<!-- Text -->  
								<p class="p-lg">We will acknowledge your complaint within three working days of receiving it. We will then investigate your complaint and contact you within 15 working days of acknowledging your complaint. In our investigation, we will review your file and speak to the member of staff who dealt with you. We will then write to you with the outcome of our investigation, including any steps we will take to address your complaint.
								</p>

							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX #3 -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-xl">If you are not satisfied</h5>
							
								<!-- Text -->
								<p class="p-lg">If you are not satisfied with our response to your complaint, you can ask for a review by a senior member of staff. We will write to you within 15 working days of receiving your request for a review to confirm our final viewpoint on the matter.
								</p>	

							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-xl">If you are still not satisfied</h5>
							
								<!-- Text -->
								<p class="p-lg">If you are still not satisfied with our final viewpoint, you can contact The Property Ombudsman to request an independent review. The Property Ombudsman is an independent body that can help you resolve your complaint. You can contact The Property Ombudsman at:
								</p>

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg"><span class="txt-500">The Property Ombudsman Ltd</span>
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg"><span class="txt-500">Milford House, 43-45 Milford Street</span>
										</p>
									</li>

                                    <li class="list-item">
										<p class="p-lg"><span class="txt-500">Salisbury, Wiltshire, SP1 2BP</span>
										</p>
									</li>

                                    <li class="list-item">
										<p class="p-lg"><span class="txt-500">01722 333 306</span>
										</p>
									</li>

                                    <li class="list-item">
										<p class="p-lg"><span><a href="www.tpos.co.uk" target="_blank" class=" txt-700 text-black tra-red-hover">www.tpos.co.uk</a></span>
										</p>
									</li>

								</ul>

							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX #5 -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-xl">Please Note:</h5>

								<!-- List -->
								<ul class="simple-list">
									
									<li class="list-item">
										<p class="p-lg">You must submit your complaint to The Property Ombudsman within 12 months of receiving our final viewpoint letter.
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">The Property Ombudsman requires that all complaints are addressed through this in-house complaint procedure before being submitted for an independent review.
										</p>
									</li>
								  	
								</ul>

                                <!-- Text -->
								<p class="p-lg">We hope that this complaints procedure is clear and easy to understand. If you have any questions, please do not hesitate to contact us: 0208 950 4588 or <a href="mailto:info@swiftpropertyauctions.co.uk" class="text-black tra-red-hover">info@swiftpropertyauctions.co.uk</a>

								</p>

							</div>	<!-- END TERMS BOX -->


						</div>	<!-- END TERMS CONTENT -->


					</div>     <!-- End row -->		
				</div>	    <!-- End container -->
			</section>	 <!-- END TERMS & PRIVACY -->

            <!-- DIVIDER LINE -->
			<br><br>
			<hr class="divider">

            <!-- NEWSLETTER + FOOTER CARD
			============================================= -->
			<section id="newsletter-2" class="newsletter-modern">
			<div class="newsletter-footer-card">

				<!-- TOP GREY NEWSLETTER STRIP -->
				<div class="newsletter-strip">

				<!-- Left copy -->
				<div class="newsletter-strip-copy">
					<h2 class="newsletter-title">
					Never Miss a <span class="newsletter-accent">Lot.</span>
					</h2>
					<p class="newsletter-subtitle">
					Get timely notifications about fresh listings, updates and everything happening in our upcoming auctions.
					</p>
				</div>

				<form class="newsletter-form quick-form">

					<!-- MAIN HORIZONTAL ROW -->
					<div class="newsletter-main-row">

						<!-- Left: email input box -->
						<div class="newsletter-input-wrap">
						<input 
							type="email" 
							autocomplete="off" 
							class="newsletter-input" 
							placeholder="Stay Updated - Enter Your Email Here" 
							required 
							id="s-email"
						>
						</div>

						<!-- Right: button + T&Cs stacked -->
						<div class="newsletter-side-column">

						<!-- Subscribe button -->
						<div class="newsletter-cta-row">
							<button
							type="submit"
							class="newsletter-btn"
							aria-label="Subscribe"
							>
							<img
								src="{{ url_for('static', filename='images/subscribe-default.svg') }}"
								alt="Subscribe"
								class="newsletter-svg default"
							>
							</button>
						</div>

						<!-- T&Cs (unchanged semantics) -->
						<div class="terms-and-conditions-checkbox">
							<input type="checkbox" id="terms" name="terms" required>
							<label for="terms">
							I accept the Company's
							<strong>
								<a href="/static/pdf/terms_conditions.pdf" target="_blank" class="tra-red-hover">
								Terms and Conditions of Service
								</a>
							</strong>
							and
							<strong>
								<a href="{{ url_for('privacy') }}" target="_blank" class="tra-red-hover">
								Privacy Policy
								</a>
							</strong>
							</label>
						</div>

						</div><!-- /.newsletter-side-column -->

					</div><!-- /.newsletter-main-row -->

					<!-- JS notification label (unchanged) -->
					<label for="s-email" class="form-notification"></label>
				</form>
				</div>


				<!-- MAIN FOOTER AREA (inside same card) -->
				<footer id="footer-4" class="footer division bg-blue footer-card-body">
				<div class="footer-card-container">

					<!-- TOP FOOTER GRID -->
					<div class="footer-main-row">
					<!-- Logo + address -->
					<div class="footer-col footer-col-logo">
						<img class="footer-logo" src="static/images/newlogoblue.svg" alt="Swift Property Auctions logo">
					</div>


					<!-- Lots column -->
					<div class="footer-col">
						<h6 class="footer-heading">Lots</h6>
						<ul class="footer-link-list">
						<li><a href="{{ url_for('current_lots') }}" class="tra-red-hover">Current Lots</a></li>
						<li><a href="{{ url_for('available_lots') }}" class="tra-red-hover">Available Lots</a></li>
						<li><a href="{{ url_for('bidder_registration') }}" class="tra-red-hover">Bidder Registration</a></li>
						<!-- <li><a href="{{ url_for('private_sales') }}" class="tra-red-hover">Private Treaty</a></li> -->
						</ul>
					</div>

					<!-- Auctions column -->
					<div class="footer-col">
						<h6 class="footer-heading">Auctions</h6>
						<ul class="footer-link-list">
						<li><a href="{{ url_for('valuation') }}" class="tra-red-hover">Free Valuation</a></li>
						<li><a href="{{ url_for('future_auctions_dates') }}" class="tra-red-hover">Future Auction Dates</a></li>
						<li><a href="{{ url_for('previous_auctions') }}" class="tra-red-hover">Previous Auctions</a></li>
						<!-- <li><a href="{{ url_for('auction_finance') }}" class="tra-red-hover">Auction Finance</a></li> -->
						<!-- <li><a href="{{ url_for('auction_buying_guide') }}" class="tra-red-hover">Auction Buying Guide</a></li> -->
						<li><a href="{{ url_for('auction_selling_guide') }}" class="tra-red-hover">Auction Selling Guide</a></li>
						<!-- <li><a href="{{ url_for('benefits_of_auctions') }}" class="tra-red-hover">Benefits of Auctions</a></li>
						<li><a href="{{ url_for('frequently_asked_questions') }}" class="tra-red-hover">Frequently Asked Questions</a></li> -->
						</ul>
					</div>

					<!-- Contacts column -->
					<div class="footer-col">
					<h6 class="footer-heading">Contacts</h6>
					<ul class="footer-link-list">
						<li>
						<a href="{{ url_for('about') }}" class="tra-red-hover">
							About Us
						</a>
						</li>
						<li>
						<a href="tel:02089504588" class="tra-red-hover">
							0208 950 4588
						</a>
						</li>
						<li>
						<a href="mailto:info@swiftpropertyauctions.co.uk" class="tra-red-hover">
							info@swiftpropertyauctions.co.uk
						</a>
						</li>
						<li>
						Swift Property Auctions<br>
						83 Uxbridge Road,<br>
						Stanmore,<br>
						HA7 3NH
						</li>
					</ul>
					</div>


					<!-- Follow us column -->
					<div class="footer-col footer-col-follow">
						<h6 class="footer-heading text-end">Follow us</h6>
						<div class="footer-social-row">
						<a href="https://www.facebook.com/profile.php?id=61554772972429"
							target="_blank" class="footer-social-circle">
							<span class="flaticon-facebook"></span>
						</a>
						<a href="https://www.instagram.com/swiftpropertyauctions/"
							target="_blank" class="footer-social-circle">
							<span class="flaticon-instagram"></span>
						</a>
						<a href="https://www.linkedin.com/in/swift-property-auctions-1ab5b42b3/"
							target="_blank" class="footer-social-circle">
							<span class="flaticon-linkedin"></span>
						</a>
						<a href="https://www.youtube.com" target="_blank" class="footer-social-circle">
							<span class="flaticon-youtube"></span>
						</a>
						</div>
					</div>
					</div> <!-- /footer-main-row -->

					<!-- FOOTER BOTTOM BAR: meta + credentials on one line -->
						<div class="footer-bottom-bar">
						<!-- Left: meta / legal links -->
						<div class="footer-meta-left">
							<ul class="footer-meta-list">
							<li>All rights reserved</li>
							<li>
								<a href="/static/pdf/terms_conditions.pdf"
								target="_blank"
								class="tra-red-hover">
								Terms and conditions
								</a>
							</li>
							<li>
								<a href="/static/pdf/AML.pdf"
								target="_blank"
								class="tra-red-hover">
								AML ID Requirements
								</a>
							</li>
							<li>
								<a href="{{ url_for('complaint_procedure') }}"
								class="tra-red-hover">
								Complaint Procedure
								</a>
							</li>
							<li>
								<a href="{{ url_for('privacy') }}"
								class="tra-red-hover">
								Privacy Policy
								</a>
							</li>
							</ul>
						</div>

						<!-- Right: credentials logos -->
						<div class="footer-meta-right">
							<a href="https://www.tpos.co.uk/" target="_blank">
							<img src="static/images/TPO_TSI_BW_Horizontal.jpg"
								alt="The Property Ombudsman"
								class="credential-image">
							</a>
							<a href="https://ico.org.uk/" target="_blank">
							<img src="static/images/icoffice.jpg"
								alt="Information Commissioner's Office"
								class="credential-image">
							</a>
							<!-- Optional extra badges
							<a href="https://www.propertymark.co.uk/" target="_blank">
							<img src="static/images/naea.jpg"
								alt="NAEA"
								class="credential-image">
							</a>
							<a href="https://www.propertymark.co.uk/" target="_blank">
							<img src="/static/images/nava.jpg"
								alt="NAVA"
								class="credential-image">
							</a>
							-->
						</div>
						</div>

			</section>



		</div>	<!-- END PAGE CONTENT -->		
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="static/js/jquery-3.6.0.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>	
		<script src="static/js/modernizr.custom.js"></script>
		<script src="static/js/jquery.easing.js"></script>
		<script src="static/js/jquery.appear.js"></script>
		<script src="static/js/jquery.scrollto.js"></script>	
		<script src="static/js/menu.js"></script>
		<script src="static/js/imagesloaded.pkgd.min.js"></script>
		<script src="static/js/isotope.pkgd.min.js"></script>
		<script src="static/js/owl.carousel.min.js"></script>
		<script src="static/js/jquery.magnific-popup.min.js"></script>
		<script src="static/js/quick-form.js"></script>	
		<script src="static/js/request-form.js"></script>	
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/jquery.ajaxchimp.min.js"></script>	
		<script src="static/js/wow.js"></script>
				
		<!-- Custom Script -->		
		<script src="static/js/custom.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->



	</body>



</html>